<.header>
  Listing Items
  <:actions>
    <.link patch={~p"/items/new"}>
      <.button>New Item</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="items"
  rows={@streams.items}
  row_click={fn {_id, item} -> JS.navigate(~p"/items/#{item}") end}
>
  <:col :let={{_id, item}} label="Title"><%= item.title %></:col>
  <:col :let={{_id, item}} label="Description"><%= item.description %></:col>
  <:col :let={{_id, item}} label="Identifier"><%= item.identifier %></:col>
  <:col :let={{_id, item}} label="Language"><%= item.language %></:col>
  <:col :let={{_id, item}} label="Thumbnail"><%= item.thumbnail %></:col>
  <:col :let={{_id, item}} label="Url"><%= item.url %></:col>
  <:col :let={{_id, item}} label="Pdf"><%= item.pdf %></:col>
  <:action :let={{_id, item}}>
    <div class="sr-only">
      <.link navigate={~p"/items/#{item}"}>Show</.link>
    </div>
    <.link patch={~p"/items/#{item}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, item}}>
    <.link
      phx-click={JS.push("delete", value: %{id: item.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal :if={@live_action in [:new, :edit]} id="item-modal" show on_cancel={JS.patch(~p"/items")}>
  <.live_component
    module={SarchWeb.ItemLive.FormComponent}
    id={@item.id || :new}
    title={@page_title}
    action={@live_action}
    item={@item}
    patch={~p"/items"}
  />
</.modal>
