<div class="black__line bg-black h-[5px] w-full"></div>
<header class="top_container lg:max-w-[970px] m-auto relative max-w-full">
  <div class="nav_top relative m-auto">
    <div class="topNav lg:max-w-[970px] lg:w-fit m-auto h-[30px]">
      <ul class="uppercase pl-10 pr-10 h-auto lg:h-6 flex flex-wrap topNav_ul bg-[#333132] lg:bg-black text-[#cccccc]">
        <li class="px-3 cursor-pointer hover:text-white border-r">
          <a href="https://www.csds.in/events/audio">AUDIO</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white border-r">
          <a href="https://www.csds.in/events/video">VIDEO</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white border-r">
          <a href="https://www.csds.in/events/fifty-year">50 YEAR EVENTS</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white border-r">
          <a href="https://www.csds.in/events/special-lectures">SPECIAL LECTURES</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white border-r">
          <a href="https://www.csds.in/events/archive">EVENT ARCHIVE</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white">
          <a href="https://www.csds.in/contact_us">CONTACT US</a>
        </li>
        <li class="px-3 cursor-pointer hover:text-white hidden">
          <input class="border outline-none" />
        </li>
      </ul>
    </div>
  </div>
  <div class="logo relative lg:absolute top-[68px] lg:top-[58px] z-[100] left-[10px] lg:left-[-8px] h-[96px] w-[104px]">
    <a href="https://www.csds.in" class="flex items-center">
      <div class="red-border absolute w-full"></div>
      <img
        src="https://www.csds.in/images/logo.png"
        class="h-[96px] w-[104px] mr-3"
        alt="Flowbite Logo"
      />
    </a>
  </div>
  <div
    class="sidnav_icon flex flex-col items-end cursor-pointer relative top-[-13px] right-[13px] lg:hidden"
    onclick="toggleSideNav()"
  >
    <div class="bg-black w-[30px] h-[3px] my-[2px]"></div>
    <div class="bg-black w-[30px] h-[3px] my-[2px]"></div>
    <div class="bg-black w-[30px] h-[3px] my-[2px]"></div>
  </div>

  <!-- mob sidenav --> 

  <div id="nav_scroll" class="flex justify-end px-3 text-end hidden">
    <ul class="block text-end lg:text-left lg:flex text-sm">
      <li class="cursor-pointer text-[#333333] group relative list-divider">
        <span class="uppercase">About Us</span>
        <ul class="nav_bottom_ul_mob hidden invisible group-hover:visible group-hover:block text-xs h-auto z-[100] bg-[#fff] pr-3.5">
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/introduction">Introduction</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/history">History</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/board_of_governors">Board Of Governors</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/administration">Administration</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/awards_honours_and_grants">Awards & Honours</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/directions-maps">Directions & Maps</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/giving_to_csds">Giving to Csds</a>
          </li>
        </ul>
      </li>

      <li class="cursor-pointer text-[#333333] group relative list-divider my-3">
        <span class="uppercase">Research</span>
        <ul class="nav_bottom_ul_mob hidden invisible group-hover:visible group-hover:block text-xs h-auto z-[100] bg-[#fff] pr-3.5">
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/research/theme">Themes</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/research/programmes">Programmes</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/projects1">Projects</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/research/journals">Journals</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/research/new-initiatives">New Initiatives</a>
          </li>
        </ul>
      </li>

      <li class="cursor-pointer text-[#333333] group relative list-divider my-3">
        <span class="uppercase">Resources</span>
        <ul class="nav_bottom_ul_mob hidden invisible group-hover:visible group-hover:block text-xs h-auto z-[100] bg-[#fff] pr-3.5">
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/data-unit-register-for-access-0">Data Unit</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/library">Library</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://archive.csds.in/">CSDS Archive</a>
          </li>
        </ul>
      </li>

      <li class="cursor-pointer text-[#333333] group relative list-divider my-3">
        <span class="uppercase">Train With Us</span>
        <ul class="nav_bottom_ul_mob hidden invisible group-hover:visible group-hover:block text-xs h-auto z-[100] bg-[#fff] pr-3.5">
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/teaching_programme">Teaching</a>
          </li>
          <li class="py-2 uppercase text-[#b12c2a]">
            <a href="https://www.csds.in/internships">Internships</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- desktop view -->

  <div class="nav_bottom lg:max-w-[778px] m-auto mt-2 lg:pt-10 hidden lg:block">
    <ul class="nav_bottom-list block text-end lg:text-left lg:flex text-sm">
      <li class="px-6 cursor-pointer text-[#333333] group relative h-[30px] list-divider">
        <span class="uppercase">About Us</span>
        <ul class="nav_bottom-ul hidden invisible group-hover:visible group-hover:block relative md:absolute top-[26px] px-2.5 text-xs h-auto z-[1] bg-[#F2F1EF]">
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/introduction">Introduction</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/history">History</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/board_of_governors">Board Of Governors</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/administration">Administration</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/awards_honours_and_grants">Awards & Honours</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/directions-maps">Directions & Maps</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/giving_to_csds">Giving to Csds</a>
          </li>
        </ul>
      </li>
      <li class="px-6 cursor-pointer text-[#333333] relative z-[1] group list-divider">
        <span class="uppercase">People</span>
        <ul class="nav_bottom-ul hidden invisible group-hover:visible group-hover:block abosulte top-[26px] px-2.5 text-xs h-auto z-[1] bg-[#F2F1EF]">
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/director">Director</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/people/faculty">Faculty</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/people/honorary-fellows">Honorary Fellows</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/the_rajni_kothari_chair_in_democracy">
              Rajni Kothari Chair
            </a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/visiting_fellows">Visiting Fellows</a>
          </li>
        </ul>
      </li>
      <li class="px-6 cursor-pointer text-[#333333] relative group list-divider">
        <span class="uppercase">Research</span>
        <ul class="nav_bottom-ul hidden invisible group-hover:visible group-hover:block abosulte top-[26px] px-2.5 text-xs h-auto z-[1] bg-[#F2F1EF]">
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/research/theme">Themes</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/research/programmes">Programmes</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/projects1">Projects</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/research/journals">Journals</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/research/new-initiatives">New Initiatives</a>
          </li>
        </ul>
      </li>
      <li class="px-6 cursor-pointer text-[#333333] relative group list-divider">
        <span class="uppercase">Resources</span>
        <ul class="nav_bottom-ul hidden invisible group-hover:visible group-hover:block abosulte top-[26px] px-2.5 text-xs h-auto z-[1] bg-[#F2F1EF]">
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/data-unit-register-for-access-0">Data Unit</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/library">Library</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://archive.csds.in/">CSDS Archive</a>
          </li>
        </ul>
      </li>
      <li class="px-6 cursor-pointer text-[#333333] relative group list-divider">
        <span class="uppercase">Train with us</span>
        <ul class="nav_bottom-ul hidden invisible group-hover:visible group-hover:block abosulte top-[26px] px-2.5 text-xs h-auto z-[1] bg-[#F2F1EF]">
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/teaching_programme">Teaching</a>
          </li>
          <li class="py-3.5 hover:text-[#b12c2a]">
            <a href="https://www.csds.in/internships">Internships</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<section class="banner items-center">
  <div class="banner_container relative bg-black">
    <img class="md:max-w-[756px] mx-auto" src={~p"/images/banner.png"} alt="banner" />
  </div>
</section>

<main class="px-4 py-20 sm:px-6 lg:px-4">
  <div class="mx-auto max-w-5xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
<footer class="mt-5">
  <div class="border-solid border border-[#ccc] bg-white p-2.5 flex w-[956px] m-auto hidden">
    <div class="flex items-center">
      <div class="mx-2 my-1 text-[#666666]">
        Join our mailing list
      </div>
      <div class="h-6 border-solid border border-[#c7c8ca] flex w-60 m-1">
        <input
          type="text"
          class="w-52 h-5.7 px-1 text-xs text-[#c84455] bg-transparent border-none outline-none"
        />
        <input
          type="submit"
          class="w-8 h-5.7 border-none text-white text-xs cursor-pointer -indent-96"
        />
      </div>
    </div>
    <div class="flex ml-3 items-center">
      <div class="text-[#666666]">Connect with us on</div>
      <div class="flex mx-2">
        <div class="px-1.5 cursor-pointer">Facebook</div>
        <div class="px-1.5 cursor-pointer">Twitter</div>
        <div class="px-1.5 cursor-pointer">YouTube</div>
        <div class="px-1.5 cursor-pointer">LinkedIn</div>
        <div class="px-1.5 cursor-pointer">Spotify</div>
      </div>
    </div>
  </div>
  <section class="copyright bg-[#fff] border-y my-2.5">
    <div class="footerBox md:w-[750px] m-auto text-xs">
      <div class="flex justify-between items-center">
        <div class="content">
          <div class="copyRight">
            <p>
              <a href="https://essentia.dev">
                Made with <span class="text-[#c84455]">&hearts;</span> at Essentia.dev
              </a>
            </p>
          </div>
        </div>
        <div class="content">
          <div class="copyRight">
            centre for the study of developing societies
            &#169; <a href="http://www.csds.in/">CSDS</a>
            2023
            <p></p>
            <p class="address">29, Rajpur Road, Delhi 110054, India</p>
          </div>
        </div>
        <div class="footerMenu">
          <ul class="menu flex">
            <li class="leaf first mx-1">
              <a href="https://www.csds.in/disclaimer-0" title="Disclaimer">Disclaimer</a>
            </li>
            <li class="leaf mx-1">
              <a href="https://www.csds.in/sitemap" title="Sitemap">Sitemap</a>
            </li>
            <li class="leaf last mx-1">
              <a href="https://www.csds.in/acknowledgements" title="Acknowledgements">
                Acknowledgements
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
