<div>
  <.live_component
    module={SarchWeb.ListFilterComponent}
    id="1"
    selected_lang={@lang}
    languages={@languages}
  />
  <div class="grid grid-cols-4 gap-4 place-items-center">
    <%= for {_id, item} <- @streams.items do %>
      <div>
        <.link phx-click={JS.navigate(~p"/i/#{item.identifier}")}>
          <img src={item.thumbnail} alt={item.title} />
          <label><%= item.title %></label>
        </.link>
      </div>
    <% end %>
  </div>
</div>
